<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">>
    <head th:replace="~{layout/plantilla :: head}">
        <title>Starlight Scents</title>

    </head>
    <!-- Agregar Producto -->
    <body>
        <section th:fragment="botonAgregar" class=" col-md-2 py-2 mb-3 mx-2 bg-transparent">
            <div class="container">
                <div class="row">
                    <button type="button" 
                            class="btn btn-outline-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#agregarProducto">
                        [[#{producto.agregar}]]
                    </button>
                </div>
            </div>
        </section>
        <!-- Ventana para agregar productos -->
        <section th:fragment="agregarProducto">
            <div class="modal fade" id="agregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title">[[#{producto.agregar}]]</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <form th:action="@{/producto/guardar}" th:object="${producto}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="categoria">[[#{producto.categoria}]]  </label>

                                    <select class="btn btn-info " name="categoria.idCategoria">
                                        <option th:each="c : ${categorias}"
                                                th:value="${c.idCategoria}"
                                                th:text="${c.nombre}"></option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="descripcion">[[#{producto.descripcion}]]</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="detalle">[[#{producto.detalle}]]</label>
                                    <input type="text" class="form-control" name="detalle" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="precio">[[#{producto.precio}]]</label>
                                    <input type="number" class="form-control" name="precio" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="existencias">[[#{producto.existencias}]]</label>
                                    <input type="number" class="form-control" name="existencias" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="activo">[[#{producto.activo}]]</label>
                                    <input class="btn btn-info" type="checkbox" name="activo" id="activo"/>
                                </div>
                                <div class="mb-3">
                                    <label for="imagen">[[#{producto.rutaImagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit " class="btn btn-outline-danger">[[#{plantilla.guardar}]]</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
            </div>    

        </section>

        <section th:fragment="listadoProductos" id="productos" class="mx-4 mt-1">
            <div class="col-md-6 mx-auto">
                <div class="card text-center shadow p-3 mb-5 bg-body-tertiary rounded border border-success-subtle text-success bg-transparent">
                    <div class="card-body">
                        <h4 class="fs-4 mb-2">[[#{producto.total}]]</h4>
                        <h5 class="fs-5 mb-3"><i class="fas fa-users"></i> [[${totalProductos}]]</h5>
                    </div>
                </div>
            </div>
            <div class="row row-cols-4 justify-content-center" >
                <div class="card p-2 mx-2 bg-transparent shadow p-3 mb-5 bg-body-tertiary rounded" th:each="p, contador : ${productos}">
                    <h3>[[${p.idProducto}]]  |  [[${p.descripcion}]]</h3>
                    <figure>
                        <img th:src="${p.rutaImagen}"
                             class="card-img-top img-fluid"
                             alt="alt"/>
                    </figure>
                    <div class="card-header bg-transparent mx-auto" >
                        <p>[[${p.detalle}]]</p>
                        <h5>[[#{producto.precio}]]  ₡[[${p.precio}]]</h5>
                        <p>[[#{producto.existencias}]]: [[${p.existencias}]]</p>
                        <p th:text="${p.activo} ? 'Activo' : 'Inactivo'"></p>
                        <div class="card-body ">
                            <div>
                                <a th:href="@{/producto/eliminar/}+${p.idProducto}"
                                   class="btn btn-danger mt-2">
                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a>
                                <a th:href="@{/producto/modificar/}+${p.idProducto}"
                                   class="btn btn-success mt-2">
                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="text-center p-2" th:if="${productos == null or productos.empty}">
                    <span>[[#{lista.vacia}]]</span>
                </div>
            </div>

        </section>


        <section th:fragment="editarProducto">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/producto/guardar}" 
                          th:object="${producto}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idProducto" th:field="*{idProducto}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <section th:replace="~{producto/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="categoria">[[#{producto.categoria}]]  </label>

                                                    <select class="btn btn-info " name="categoria.idCategoria">
                                                        <option th:each="c : ${categorias}"
                                                                th:value="${c.idCategoria}"
                                                                th:text="${c.nombre}"></option>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{producto.descripcion}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" th:field="*{descripcion}"
                                                           required="true">
                                                </div>

                                                <div class="mb-3">
                                                    <label for="detalle">[[#{producto.detalle}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombre" th:field="*{detalle}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="precio">[[#{producto.precio}]]</label>
                                                    <input type="number" class="form-control" 
                                                           name="nombre" th:field="*{precio}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="existencias">[[#{producto.existencias}]]</label>
                                                    <input type="number" class="form-control" 
                                                           name="nombre" th:field="*{existencias}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="activo">[[#{producto.activo}]]</label>
                                                    <input class="btn btn-info" 
                                                           type="checkbox" 
                                                           name="activo" 
                                                           id="activo"
                                                           th:field="*{activo}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{producto.rutaImagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img class="my-2" id="blah" th:src="@{${producto.rutaImagen}}" alt="your image" height="200"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/producto/listado}" class="btn btn-outline-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/producto/eliminar/}+${producto.idProducto}"
                           class="btn btn-outline-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-outline-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
